{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "react",
    "import",
    "jsx-a11y",
    "react-hooks",
    "@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [ "warn", {"extensions": [".tsx", ".jsx"]} ],
    "import/extensions": ["error", "ignorePackages", { "ts": "never", "tsx": "never", "jsx": "never", "js": "never" }],
    "no-undef": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types":"off",
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/array-type": "error",
    "@typescript-eslint/consistent-type-definitions": "error",
    "prettier/prettier": ["error", {
      "printWidth": 80,
      "singleQuote": true,
      "trailingComma": "none",
      "bracketSpacing": true,
      "jsxBracketSameLine": true,
      "endOfLine": "auto"
      }
    ]
  },
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }],
        "@typescript-eslint/explicit-module-boundary-types":["error"]
      }
    }
  ],
  "extends": [
    "prettier",
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ]
}
